/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  //font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $white;
  font-size: 0.875em;
  line-height: 4.5em;
  padding: 0 2.2em;
  //border-radius: 3px;
  @include border-radius(3px);
  border: 0;
  cursor: pointer;
  margin: 0.5em 0.5em 0.5em 0;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

  // icons
  .dashicons {
    //display: inline;
    -webkit-font-smoothing: antialiased;
    font: normal 1.875em 'dashicons';
    line-height: 2.4em;
    color: $white;
    vertical-align:  top;
    position: relative;
    margin: 0 0.6em 0 -0.2em;
  }

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: $vjms-gray;
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button

.vjms-green-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $vjms-green;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $vjms-gray;
  } // end hover

  &:active {
    background-color: darken($vjms-green, 5%);
  } // end active

} // end vjms-green button

.vjms-totop-btn {
  @extend %btn; // here we load the btn defaults
  //display: block;
  background-color: $vjms-green;
  text-align: center;
  box-sizing: border-box;
  border: 4px solid lighten($vjms-gray, 5%);
  //border-radius: 50%;
  @include border-radius(50%);
  padding: 0 ;
  width: 45px;
  height: 45px;
  margin: -0.5em auto;
  .dashicons {
    -webkit-font-smoothing: antialiased;
    font: normal 1.875em 'dashicons';
    line-height: 1.875em;
    color: $white;
    vertical-align:  top;
    position: relative;
    margin: -6px 0 0 -4px ;
  }

  &:hover,
  &:focus {
    background-color: $vjms-gray;
  } // end hover

  &:active {
    background-color: darken($vjms-green, 5%);
  } // end active

} // end vjms-green button

// contact form 7 submit
.wpcf7-submit {
  @extend .vjms-green-btn;
}

.vjms-search404 #searchsubmit{
  @extend .vjms-green-btn;
}
