/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  //width: 1040px;
  max-width: 1140px;
  width: 96%;
  margin: 0 auto;
}
